<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ManagingTool</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Lookup_Specific_User">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lookup Specific User
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Lookup_Multiple_Users">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lookup Multiple Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SendMail">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Send Mail
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RetrieveItem">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Retrieve Item
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SetCampaign">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Set Campaign
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
